<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>About Us</title>
    <!-- Assurez-vous de lier un fichier CSS approprié -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Accueil</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>À propos de nous</h1>
            <p>Bienvenue sur notre site Web dédié aux technologies dans le secteurs agricole. Notre équipe d'experts est là pour vous fournir les dernières tendances et les meilleures pratiques en matière agricole.</p>
        </section>
        <section>
            <h2>Notre Équipe</h2>
            <ul>
                <li>NSONDET-BAHOU - Fondateur</li>
                <li>Stoff Aimé - Développeur Web Principal</li>
                <li>Stoff Aimé - Concepteur UX/UI</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2023 GreenTECH</p>
    </footer>
</body>
</html>